{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block content %}
<div class="mid">
    <div class="five">
        <h1>Le p'tit jardinier
            <span>Des professionels à votre service</span>
        </h1>
    </div>
    <br>
    <a href="{{ ('choix') }}">Obtenir votre devis en ligne pour une taille de haie</a>
    <br>
    <img src="image/jardiniergros.png" width="25%" />
</div>
{% endblock %}