{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
{% block content %}
    <h1>Edit Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Valider'}) }}
<table style="width: 10%;
margin-right: 45%;
margin-left: 45%;">
    <th>
    <a href="{{ path('app_client_index') }}" class="btn btn-primary">retour</a>
</th>
<th>
    {{ include('client/_delete_form.html.twig') }}
</th>
</table>
    {% endblock %}
{% endblock %}
