{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}
{% block content %}
    <h1>Créer une haie</h1>

    {{ include('haie/_form.html.twig') }}
    <br><br>
    <a href="{{ path('app_haie_index') }}" class="btn btn-primary">Retour</a>
{% endblock %}
{% endblock %}